@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Tajawal', sans-serif;
    --font-serif: 'Playfair Display', serif;

    --color-brand-dark: #0F172A;
    --color-brand-orange: #E07A5F;
    --color-brand-light: #FAF9F6;
    --color-brand-text: #334155;
}
